* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  overflow-x: hidden;
  background-color: #00050c;
  color: white;
}

header {
  display: flex;
  width: 100vw;
  font-size: 20px;
  padding-top: 10px;
  position: absolute;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgb(0, 0, 0, 0));
}

.left-side {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.user {
  height: 30px;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right-side a {
  color: white;
  list-style: none;
  text-decoration: none;
}

li {
  color: white;
  text-decoration: none;
  list-style: none;
}

.left-side a {
  list-style: none;
  text-decoration: none;
  color: white;
}

li img {
  height: 20px;
}

.join {
  color: white;
  height: 50px;
  width: 100px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(57, 57, 242);
}

.dropdown {
  position: relative;

}

.language {
  display: none;
  position: absolute;
  column-count: 4;
  column-gap: 10px;
  top: 35px;
  right: -180px;
  padding: 15px;
  backdrop-filter: blur(50px);
}

.dropdown:hover .language {
  display: block;
}

.join:hover {
  background-color: #1ba0ff;
  box-shadow:
    #0192fb 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

a:hover {
  color: black;
  background-color: aliceblue;
}

.grid {
  position: relative;
}

.genres {
  display: none;
  position: absolute;
  column-count: 2;
  left: 800px;
  backdrop-filter: blur(10px);
}

.gird:hover .genres {
  display: block;
}

.user {
  position: relative;
}

.drop {
  display: none;
  position: absolute;
  column-count: 1;
  bottom: -100px;
  backdrop-filter: blur(10px);
}

.user:hover .drop {
  display: block;
}

#banner {
  background-image: url(./asset/d20e56df-1ee1-4f4e-99fe-2e5d9226de83._UR3840\,1440_SX3840_FMavif_PQ65_.avif);
  background-size: contain;
  height: 70vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.movie-img img {
  top: 110px;
  width: 250px;
  height: 200px;
  margin-left: 30px;
  position: absolute;
}

.rank {
  position: relative;
  color: #36f1a3;
  top: 300px;
  display: flex;
  gap: 20px;
  margin-left: 50px;
  margin-top: 25px;
  font-size: 22px;
}

.btn {
  background-color: #32363a;
  color: white;
  height: 60px;
  width: 90px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 430px;
  margin-left: 50px;
}

.button {
  display: flex;
}

.btn-2 {
  color: white;
  background-color: #32363a;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 430px;
  margin-left: 150px;
  border-radius: 50%;
  font-size: 30px;
}

.down {
  position: relative;
}

.c {
  position: absolute;
  color: white;
  top: 15px;

  margin-top: 20px;
  display: none;
}

.rank:hover .c {
  display: block;
}

.discription {
  color: white;
  position: absolute;
  display: flex;
  top: 510px;
  margin-left: 50px;
  gap: 10px;
}

.bag {
  color: yellow;
}

.btn-3 {
  color: white;
  background-color: #32363a;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 430px;
  margin-left: 220px;
  border-radius: 50%;
  font-size: 30px;
}

.movie-title {
  display: flex;
  gap: 20px;
  position: relative;
}

.see {
  cursor: pointer;
}



.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-section {
  display: flex;
  flex-direction: column;
}

.movies {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 100px;
  margin-top: 20px;
}

.movie-card-wrapper {
  display: flex;
  gap: 50px;
  cursor: pointer;
}

.movie-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  transition: all 1s;
  width: 20vw;

}


.movie-card::before {
  position: absolute;
  font-size: 160px;
  font-weight: 800;
  left: -80px;
  z-index: -1;
  color: #33363d;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 20;
}

.movie-image img {
  height: 22vh;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.movie-hidden-detail {
  background-color: black;
  display: none;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  top: 100%;
  left: 0;
  gap: 10px;
}

.movie-card:hover .movie-hidden-detail {
  display: block;
  position: absolute;
}

.free {
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.true {
  height: 17px;
  width: 17px;
}

.play-btn {
  height: 40px;
  width: 180px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.film {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #33363d;
  border-style: none;
  color: white;
}

.add {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #33363d;
  border-style: none;
  color: white;
}

.card-rank {
  font-size: 18px;
  color: #36f1a3;
  padding-top: 10px;
}

.card-description {
  padding-top: 10px;
}

.movie-popular {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 100px;
  margin-top: 30px;
}

.movie-title-popular {
  display: flex;
  gap: 50px;
  cursor: pointer;
}

.movie-img-popular img {
  height: 17vh;
  border-radius: 10px;
  object-fit: cover;
}

.movie-card-wrapper-popular {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

.movie-card-popular {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  transition: all 1s;
  width: 20vw;
  margin-left: 20px;
  counter-increment: movie-rank;
}


.movie-card-popular::before {
  content: counter(movie-rank);
  position: absolute;
  font-size: 120px;
  font-weight: 800;
  left: -60px;
  z-index: -1;
  color: #32363a;
}

.movie-card-.movie-card-popular {
  transform: scale(1.1);
  z-index: 20;
}

.movie-card-popular:hover {
  transform: scale(1.1);
  z-index: 20;
}

.movie-card-hidden-detail-popular {
  background-color: black;
  display: none;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  top: 100%;
  left: 0;
  gap: 10px;
}

.movie-card-popular:hover .movie-card-hidden-detail-popular {
  display: block;
  position: absolute;
}

.movies-title {
  display: flex;
  gap: 50px;
  cursor: pointer;
  font-size: 15px;
}